.panel{
    background-color: lightblue;
    height: 300px;
    opacity: .7;
}
body {
   background-image: url(http://cdn.wallpapersafari.com/1/60/FZP4NQ.jpg); 
}
p{
    font-size: 10;
    font-family: fantasy;
}
hr{
    margin: 0px;
}
.glyphicon{
    padding: 100px 0px 0px 0px;
    font-size: 50px;
}
.img-circle{
    float: right;
    width: 60%;
    height: auto;
}
